/*this is the css block for all the factories ssh don't tell anyone I can't spell*/
factorys {
  position: absolute;
  top: 20px;
  left: 10px;
}

/*this is the big bitcoin button in the middle of the screen*/
bitcoin {
  position: absolute;
  top: 110px;
  left: 550px;
}

/*this is that balance display above the bitcoin*/
balance {
  font-size: 50px;
  position: relative;
  top: 20px;
  left: 550px;
}

/*this is code I stole that makes tooltips */
.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
}
.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;

  display:none; /* hide by default */
}
.tooltip:hover:before {
  display:block;
}

/* .tooltip I made this so the bomb tooltip doesn't overlap the human leather factory. */

.tooltipbomb {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
}
.tooltipbomb:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:125%;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;

  display:none; /* hide by default */
}
.tooltipbomb:hover:before {
  display:block;
}

/* this is a tooltip class for tool tips that are too far right */
.tooltipright {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
}
.tooltipright:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  right:100;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;

  display:none; /* hide by default */
}
.tooltipright:hover:before {
  display:block;
}

/*this positons the upgrade store */
upgradestore{
  position: absolute;
  top: 25px;
  left: 1240px;
}

/*this is the save button */
.save{
  position: absolute;
  top: 10px;
  left: 650px;
}
.autoSaveToggle{
  position: absolute;
  top: 10px;
  left: 700px;
}

/*this is the display that tells you how many bitcoins you get persecond*/
persecond{
  position: absolute;
  top: 90px;
  left: 550px;
}

links{
  position: absolute;
  top: 620px;
  left: 250px;
}

