/*this is the css block for all the factories ssh don't tell anyone I can't spell*/
factorys {
  position: absolute;
  top: 20px;
  left: 10px;
}

/*this is the big bitcoin button in the middle of the screen*/
bitcoin {
  position: absolute;
  top: 110px;
  left: 550px;
}

/*this is that balance display above the bitcoin*/
balance {
  font-size: 50px;
  position: relative;
  top: 20px;
  left: 550px;
}


/*this positons the upgrade store */
upgradestore{
  position: absolute;
  top: 25px;
  left: 1240px;
}

/*this is the save button */
.save{
  position: absolute;
  top: 10px;
  left: 650px;
}
.autoSaveToggle{
  position: absolute;
  top: 10px;
  left: 700px;
}

/*this is the display that tells you how many bitcoins you get persecond*/
persecond{
  position: absolute;
  top: 90px;
  left: 550px;
}

links{
  position: absolute;
  top: 620px;
  left: 250px;
}

